<!DOCTYPE html>
<html>
<head>
	<title>mytask.html</title>
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="this is my page">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="${frontRes}/css/global.css">
</head>
<body>
	[#include "top.html"/]
	<br>
	<ul>
	[#list page.list as task]
		<li>
			${task.id} 
			[#if task.type==1]
				租车
			[#elseif task.type==2]
				洗衣
			[#elseif task.type==3]
				清洁
			[/#if]
			雇主：${task.employer.username}
			发起日期：${task.releaseDate?string('yyyy-MM-dd')}
			截止日期：[#if task.endDate??]
				       ${task.endDate?string('yyyy-MM-dd')}
				   [#else]
				                   暂无
				   [/#if]
			<a href="">查看详情</a>
		</li>
	[/#list]
	</ul>
	[#include "../page.html"/]
</body>
</html>
