<!DOCTYPE html>
<html>
<head>
	<title>myinfo.html</title>
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="this is my page">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="${frontRes}/css/global.css">
</head>
<body>
	[#include "top.html"/]
	<br>
	id：${user.id}<br>
	用户名：${user.username}<br>
	姓名：${user.realname!}<br>
	身份证：${user.idCard!}<br>
	联系电话：${user.phone!}<br>
	审核状态：<#if user.checkState==0>审核中<#else>已通过</#if><br>
	地址：${user.address!}<br>
	注册日期：${user.registerDate?string("yyyy-MM-dd")}<br>
	<a href="${base}/employee/updinfo/">修改</a>
</body>
</html>
