<!DOCTYPE html>
<html>
  <head>
    <title>register.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    <h1>注册</h1>
    <form action="${base}/register" method="post">
    	用户名：<input type="text" name="username" />
    	密码：<input type="password" name="password" />
    	<input value="提交" type="submit" />
    </form>
    
    <#if res??>
    	<script tpye="text/javascript">
    		alert("${res}");
    	</script>
    </#if>
  </body>
</html>
