<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
		</encoder>
	</appender>
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/houseKeeper/currentlog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/test/log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>5</maxHistory>
			保留最后的5份日志，之前的删除
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 1MB -->
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>../logs/houseKeeper/info.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework" />
	<logger name="org.hibernate" />
	<logger name="org.apache" />
	<logger name="java.sql" />
	<logger name="com.chy" level="INFO">
		<appender-ref ref="FILE" />
	</logger>
	<root>
		<level value="ERROR" />
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="ROLLING" />
	</root>
</configuration>

